/*! CSS reset from benfrain/app-reset */
*,:after,:before{box-sizing:inherit}html{box-sizing:border-box}
*{user-select:none;-webkit-tap-highlight-color:rgba(255,255,255,0);-webkit-tap-highlight-color:transparent}
[contenteditable],input[type]{user-select:text}body,h1,h2,h3,h4,h5,h6,p{margin:0;font-size:1rem;font-weight:400}
a{text-decoration:none;color:inherit}b{font-weight:400}em,i{font-style:normal}a:focus,input:focus{outline:0}
fieldset,input{appearance:none;border:0;padding:0;margin:0;min-width:0;font-size:1rem;font-family:inherit}
input::-ms-clear{display:none}input[type=number]{-moz-appearance:textfield}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{appearance:none}
svg{display:inline-flex}img{max-width:100%;display:block}

@font-face {
	font-family: 'DINPro';
  src: url('/font/DINPro-Regular_13937.eot') format('opentype');
  src: url('/font/DINPro-Regular_13937.eot?#iefix') format('embedded-opentype'),
       url('/font/DINPro-Regular_13937.woff') format('woff'),
       url('/font/DINPro-Regular_13937.ttf') format('truetype'),
       url('/font/DINPro-Regular_13937.svg#DINPro-Regular_13937') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face{
    font-family: "Fira-Code";
    src: url('/font/FiraCode-Regular.eot') format('opentype');
    src: url('/font/FiraCode-Regular.eot?#iefix') format('embedded-opentype'),
         url('/font/FiraCode-Regular.woff2') format('woff2'),
         url('/font/FiraCode-Regular.woff') format('woff'),
         url('/font/FiraCode-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
  color: #030303;
  font: caption;
  padding-bottom: 2em;
  background-color: black;
}

header {
  padding-left: 1em;
  padding-top: 40px;
  padding-bottom: 20px;
  font-family: Fira-Code;
  font-size: 60px;
  color: white;
}

footer {
  margin: 4em auto;
  padding: 2em;
  text-align: center;
  max-width: 800px;
  width: 100%;
}

footer p {
  line-height: 1.2em;
  margin: 0 0 1em 0;
}

.not-found {
  margin: 0 auto;
  max-width: 800px;
  padding: 2em;
  text-align: center;
  width: 100%;
}

.not-found h1 {
  font-size: 3em;
  font-weight: bold;
}

.not-found h2 {
  font-size: 2em;
  font-weight: bold;
}

.home .movies-selector {
  clear: both;
  text-align: center;
  color: white;
  font-family: DINPro;
}

.home .movies-selector .category-header {
  font-family: Fira-Code;

  font-size: 25px;
  width: 60%;
  text-align: right;
  margin: auto;
}

.home .movies-selector .movies-ratings{
  font-size: 2em;
}

.home .movies-selector .movies-ratings .movie-rating {
  border: 0px solid #ccc;
  display: inline-block;
  margin: 20px 1em 1em 0;
  max-width: 150px;
  padding: 0;
  position: relative;
  width: 100%;
}

.movie-tooltip {
  font-size: 20px !important;
}

.home .movies-selector .movies-ratings .movie-rating img {
  margin: 0;
  width: 100%;
}

.home .movies-selector .movies-ratings .movie-rating .name {
  color: #030303;
  display: inline-block;
  font-size: 1.6em;
  overflow: hidden;
  padding: .2em;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.home .movies-selector .movie-reco {
  border: 0px solid #ccc;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  display: inline-block;
  margin: 20px 1em 1em 0;
  max-width: 100px;
  padding: 0;
  position: relative;
  width: 100%;
  color: white;
  font-size: 20px;
}

.home .movies-selector .movie-reco img {
  margin: 0;
  width: 100%;
}

nav.movies-menu {
  margin: 0 auto;
  max-width: 800px;
  padding: 2em;
  text-align: center;
  width: 100%;
}

nav.movies-menu a {
  font-size: 1.6em;
  margin: 0 1em 1em 0;
}

nav.movies-menu a.active {
  color: #030303;
  text-decoration: none;
}

.movie {
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}

.movie header {
  background: #ccc;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 200px;
}

.movie .picture-container {
  margin: -160px 0 0 0;
  padding: 0 1em 0 1em;
}

.movie .picture-container img {
  border-radius: 4px;
  border: 8px solid #fff;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  display: inline;
  margin: 0 0 0 1em;
  width: 200px;
}

.movie .picture-container h2 {
  display: inline;
  font-size: 3em;
  padding: 0 0 0 .5em;
  width: auto;
}

.navigateBack {
  font-size: 1.6em;
  padding: 2em;
  text-align: center;
  text-decoration: none;
}

#abar {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
}

#abar a {
  background: #ffa500;
  color: #000;
  display: block;
  font-weight: bold;
  margin: 0;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

#abar a:hover {
  text-decoration: underline;
}

.movie-enter {
   opacity: 0.01;
 }

.movie-enter.movie-enter-active {
   opacity: 1;
   transition: opacity 300ms ease-in;
 }

.movie-exit {
   opacity: 1;
 }

.movie-exit.movie-exit-active {
   opacity: 0.01;
   transition: opacity 300ms ease-in;
 }
 
.my-button:hover {
  color:#000!important;
  background-color:#ccc!important
}

.my-button{
    color: #aaa!important;
    background-color: #000!important;
    user-select: none;
    border-width: 1px;
    border-color: #aaa;
    border-style: solid;
    display: inline-block;
    outline: 0;
    padding: 7px 14px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    -webkit-appearance: button;
    text-transform: none;
    font-size: 15px;
    margin: 0;
    box-sizing: inherit;
    align-items: flex-start;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0px;
    text-shadow: none;
    -webkit-writing-mode: horizontal-tb;
    box-sizing: inherit;
 }

.react-rater {
  display: inline-block;
  line-height: normal; 
}

.react-rater div {
  display: inline;
}

.react-rater a {
  cursor: pointer;
  color: #444;
  position: relative; 
}
.react-rater a.will-be-active {
  color: #ddd; 
}
.react-rater a.is-active {
  color: #fff; 
}
.react-rater a.is-active-half:before {
  color: #ddd;
  content: '\2605';
  position: absolute;
  left: 0;
  width: 50%;
  overflow: hidden; 
}
.react-rater a.is-disabled {
  cursor: default; 
}